<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="app/tabs/tab4" icon="arrow-round-back"></ion-back-button>
		</ion-buttons>
		<img src="assets/gardens_sawangan_logo.png" style="display:inline-block" height="40px" />
	</ion-toolbar>
</ion-header>

<ion-content>
	<div padding style="padding-left: 0px;">
		<ion-item>
			<ion-label style="font-size: 1.2rem;">
				Home Service
			</ion-label>
		</ion-item>
	</div>

	<ion-grid>
		<ion-row>
			<ion-col size="4" *ngFor="let $menus of layananData">
				<div class="service-element ion-activatable" (click)="goToLapor($menus.uid, $menus.title)">
					<ion-ripple-effect></ion-ripple-effect>
					<!-- <ion-icon name="aperture"></ion-icon> -->
					<img src="{{$menus.image}}">
					<!-- <p>{{$menus.title}}</p> -->
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div padding>
		<ion-button expand="block">Other</ion-button>
	</div>
</ion-content>
