.service-element{
	margin: 5px;
	padding: 10px 6px;
	border-radius: 8px;
	background: #d1d2d4;
	overflow: hidden;
	position: relative;
}
.service-element ion-icon{
	display: block;
	position: relative;
	margin: 0 auto;
	font-size: 2.5rem;
	color: #6d6e72;
}
.service-element p{
	text-align: center;
	padding: 0px;
	margin: 0px;
	padding-top: 8px;
	font-size: 0.7rem;
	color: #6d6e72;
}