<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/gardens_sawangan_logo.png" style="display:inline-block" height="40px" />
    <!-- <ion-title>Billing</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-content>
	
	<div padding-top padding-right>
		<ion-item lines="none">
			<ion-avatar slot="start" style="background: linear-gradient(47deg, rgba(218,203,117,1) 0%, rgba(185,189,47,1) 100%); padding: 6px; width: 50px; height: 50px;">
				<img src="../assets/layanan_pengguna.png">
			</ion-avatar>
			<ion-label style="font-size: 20px;">Layanan Pengguna</ion-label>
		</ion-item>
	</div>

	<!-- #3ab54a green -->
	<!-- #00adef blue -->

	<div padding style="padding-left: 0px;">
		<ion-item *ngFor="let iter of [1,2,3,4,5,6,7]">
			<ion-thumbnail slot="start">
				<!-- <div class="dotticket" [ngStyle]="{'background': statColor[iter-1]}"></div> -->
				<div class="dotticket" [ngStyle]="{'background': iter%2==0 ? '#3ab54a':'#00adef'}"></div>
			</ion-thumbnail>
			<ion-label>
				<h2>#Ticket Number 64432</h2>
				<p style="font-size: 0.8rem;"><i>1 min ago</i></p>
			</ion-label>
		</ion-item>
	</div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentActionSheet()">
		<ion-fab-button style="width: 40px; height: 40px;">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
