<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div padding>
		<ion-item>
		  <ion-label position="fixed">Username</ion-label>
		  <ion-input mode="md"></ion-input>
		</ion-item>
		<ion-item>
		  <ion-label position="fixed">Password</ion-label>
		  <ion-input type="password" mode="md"></ion-input>
		</ion-item>

		<ion-button (click)="goToHome()" color="primary">Login</ion-button>
	</div>

</ion-content>