<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/tab4" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <img src="assets/gardens_sawangan_logo.png" style="display:inline-block" height="40px" />
  </ion-toolbar>
</ion-header>

<ion-content>
	<div padding style="padding-left: 0px;">
		<ion-item>
			<ion-label style="font-size: 1.2rem;">
				{{extrasData.title}} Service
			</ion-label>
		</ion-item>
	</div>

	<div padding style="padding-top: 0px;">
		<ion-item>
			<ion-textarea placeholder="Laporan anda ..." auto-grow="true" clearOnEdit="true"></ion-textarea>
		</ion-item>
		<ion-button margin-top style="text-transform: capitalize;" (click)="attachPic()">
			<ion-icon slot="start" name="attach"></ion-icon>
			Attach Picture
		</ion-button>
	</div>

	<div>
		<ion-grid>
			<ion-row>
				<ion-col size="6" *ngFor="let $asd of curImg">
					<div [ngStyle]="{'border-radius': '4px', 'margin': '0px 5px', 'background-image': 'url('+$asd+')', 'background-position': 'center', 'background-size': 'cover', 'width': '100%', 'height': '110px'}" style=""></div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentActionSheet()">
		<ion-fab-button color="success" style="width: 40px; height: 40px;">
			<ion-icon name="arrow-round-forward"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>