<ion-tabs>

  <ion-tab-bar slot="bottom" style="background: #e4e4e6;">
    <ion-tab-button style="color: #666666;" tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button style="color: #666666;" tab="tab2">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Billing</ion-label>
    </ion-tab-button>

    <ion-tab-button style="background: #cc2d27; color: #FFFFFF;" (click)="presentEmergency()">
      <!-- <ion-icon name="rocket"></ion-icon> -->
      <img src="assets/emergency.png" style="display:inline-block" height="22px" />
      <ion-label>Emergency</ion-label>
    </ion-tab-button>

    <ion-tab-button style="color: #666666;" tab="tab4">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Layanan</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
