<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/gardens_sawangan_logo.png" style="display:inline-block" height="40px" />
    <!-- <ion-title>Billing</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-content>
	
	<ion-segment (ionChange)="segmentChanged($event)" value="new" style="padding: 20px;">
		<ion-segment-button value="new">
			<ion-label style="text-transform: capitalize;">What's New</ion-label>
		</ion-segment-button>
		<ion-segment-button value="facilities">
			<ion-label style="text-transform: capitalize;">Facilities</ion-label>
		</ion-segment-button>
		<ion-segment-button value="Event">
			<ion-label style="text-transform: capitalize;">Event</ion-label>
		</ion-segment-button>
	</ion-segment>

</ion-content>
