.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-slides {
    margin-top: 8px;
 
    img {
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 10px;
    }
}

.panic-activated{
	 --background: linear-gradient(to right, #ee1e5c, #e1214f, #d42444, #c62639, #b9282f);
	 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	 ion-title{
	 	text-align: center;
	 	font-size: .8rem;
	 	font-weight: bold;
	 	color: #fff;
	 }

	 img:first-child{
	 	margin-left: 8px;
	 }

	 img:last-child{
	 	margin-right: 8px;
	 }
}