<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="checkPanicSess()">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary" (click)="logout()">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/gardens_sawangan_logo.png" style="display:inline-block" height="40px" />
    <!-- <ion-title>Housing Apps</ion-title> -->
  </ion-toolbar>

</ion-header>

<ion-content>

  <div *ngFor="let $paniciter of panicsess">
    <div *ngIf="$paniciter != 'null'">
      <ion-toolbar class="panic-activated">
        <img slot="start" src="assets/siren.png" height="40px" />
        <ion-title>Emergency Mode is ACTIVATE</ion-title>
        <img slot="end" src="assets/siren.png" height="40px" />
      </ion-toolbar>
    </div>
  </div>

  <ion-segment style="padding: 20px;" [(ngModel)]="cat">
    <ion-segment-button value="new">
      <ion-label style="text-transform: capitalize;">What's New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="facilities">
      <ion-label style="text-transform: capitalize;">Facilities</ion-label>
    </ion-segment-button>
    <ion-segment-button value="event">
      <ion-label style="text-transform: capitalize;">Event</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="cat">
    <!-- what's new -->
    <div *ngSwitchCase="'new'">
      <ion-slides [options]="sliderOpts" style="padding-bottom: 20px;">
        <!-- <ion-slide *ngFor="let $img of [1, 2, 3]"> -->
        <ion-slide *ngFor="let $upperData of listHomeDataUp">
          <div>
            <!-- 'background-image': 'url(assets/img-slide/'+$img+'.jpg)', -->
            <div [ngStyle]="{
              'background-image': 'url('+$upperData.image+')',
              'width': '246px',
              'height': '254px',
              'background-size': 'cover',
              'background-position': 'center',
              'border-radius': '8px',
              'box-shadow': '0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)',
              'padding': '10px'}"></div>
            <ion-text style="text-align: left;">
              <!-- <h4>OPEN HOUSE! 6-12 June 2019</h4>
              <p style="font-size: 0.5rem">GRAND AMITY - 120/LB 68/LT 128</p>
              <p style="font-size: 0.8rem">This house boasts natural air circulation and optimum natural lighting that provides a comfortable living space. With modern design, the front door ...</p> -->
              <h4>{{$upperData.title}}</h4>
              <p style="font-size: 0.5rem">{{$upperData.sub_title}}</p>
              <p style="font-size: 0.8rem">{{$upperData.detail}}</p>
            </ion-text>
            <ion-button size="small" color="more" [ngStyle]="{'text-transform': 'capitalize', 'float': 'right'}">Read more</ion-button>
          </div>
        </ion-slide>
      </ion-slides>

      <div padding-start padding-end style="margin-bottom: 4px;">
        <hr style="border-top: 1px solid #8a8b8e;">
      </div>

      <div padding-end>
        <ion-list *ngFor="let $qwe of listHomeDataBot" padding-bottom lines="none">
          <ion-item>
            <!-- https://catfriendly.com/wp-content/uploads/2016/11/Cat-Lying-Down-Red-coloring-Istock-300x300.jpg -->
            <ion-thumbnail slot="start" style="--border-radius: 4px;">
              <img src="{{$qwe.image}}">
            </ion-thumbnail>
            <ion-label>
              <p style="line-height: 1; margin: 0;"><small><i>{{$qwe.date}}</i></small></p>
              <p style="line-height: 1; margin: 0;"><small><i>{{$qwe.category}}</i></small></p>
              <h2>{{$qwe.title}}</h2>
              <h3>{{$qwe.sub_title}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!-- end what's new -->

    <ion-list *ngSwitchCase="'facilities'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://catfriendly.com/wp-content/uploads/2016/11/Cat-Lying-Down-Red-coloring-Istock-300x300.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://www.catmospherecafe.com.au/wp-content/uploads/2018/03/Cat9-300x300.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="https://www.greenpet.com.au/wp-content/uploads/2016/07/Cat-Food-Treats-300x300.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
