<ion-content>

	<div padding>
		<ion-icon (click)="dismiss()" name="close-circle" color="light" size="large" style="float: right;"></ion-icon>
	</div>

	<div padding-bottom>
		<img src="../assets/siren.png" style="width: calc(100% - 200px); margin-top: 20px; position: relative; margin-left: 50%; transform: translateX(-50%);">
	</div>

	<div padding-bottom>
		<ion-text>
			<h1 (click)="getAllUser()" style="text-align: center; color: #ffffff; text-transform: uppercase; line-height: 1; font-weight: bold; font-size: 2rem;">
				calling <br> emergency <br> assistant
			</h1>
		</ion-text>
	</div>

	<div padding-bottom>
		<ion-icon name="arrow-round-down" size="large" color="light" style="width: 100%; text-align: center;"></ion-icon>
	</div>

	<div padding-start padding-end>
		<!-- <input id="rangeslider" #unlock type="range" class="slideToUnlock" value="0" max="100" (touchend)="checkUnlock($event)" (mouseout)="checkUnlock($event)"> -->
		<!-- <ion-range [(ngModel)]="rangecok" min="0" max="100" #range (touchend)="onBlur(range)" (mouseup)="onBlur(range)"></ion-range> -->
		<ngx-slide-unlock lang="en" color="light" ></ngx-slide-unlock>
	</div>

</ion-content>