ion-content{
	--background: rgba(0,0,0,0.7);
}

ngx-slide-unlock input:before{
	content: 'Swipe to confirm' !important;
}

input[type="range"] {
	width: 100%;
	background: #ffffff;
	// -webkit-appearance: none;
	// padding: 6px;
	// padding-left: 0px;
	// padding-right: 0px;
	// border-radius: 25px;
	// transition: opacity 0.3s;
	// position: relative;
	// border: 2px solid rgb(172, 173, 175);
}

// -webkit-linear-gradient(top, #fafafa 0%,#dedede 50%,#cfcfcf 51%,#a3a3a3 100%);
// input[type="range"]
// input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb {
	// -webkit-appearance: none;
	// border-radius: 50%;
	// background: #cc0000;
	// z-index: 1;
	// padding: 20px;
	// position: relative;
	// border: 2px solid rgb(172, 173, 175);
}

input[type="range"]:before {
	content: "Slide to Unlock";
	color: #333333;
	position: absolute;
	left: 100px;
	top: 14px;
	z-index: 1;
	font-size: 28px;
}

input[type=range]::-moz-range-thumb:before,
input[type=range]::-webkit-range-thumb:before {
	color: #333333;
	position: absolute;
	left: 5px;
	top: -10px;
	z-index: 1;
	font-size: 56px;
	font-weight: bold;
	content: "→";
}

ion-range{
	--bar-background: #fff;
	--bar-background-active: #95172f;
	--bar-border-radius: 25px;
	--bar-height: 30px;
	--height: 0px;
	--knob-background: #ed1b24;
	--knob-border-radius: 50%;
	--knob-box-shadow: none;
	--knob-size: 70px;
}